<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="/">
    <title>Creative Recruitment</title>
    <meta name="title" content="Creative Recruitment">
    <meta name="description" content="Creative Recruitment">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(client) app/vendor.css -->
      <!-- bower:css -->
      <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,client}) app/app.css -->
    <link rel="stylesheet" href="app/app.css">
      <!-- injector:css -->
      <link rel="stylesheet" href="app/app.css">
      <!-- endinjector -->
    <!-- endbuild -->
  </head>
  <body ng-app="creativeRecruitmentApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div id="content-wrapper" nav-controll-dctv>
      <div class="wrapper" id="header">
        <div class="logo-cr">
          <a href="/">creativerecruitment.pl</a>
        </div>

        <div class="profiler__logo__center">
            
            <div style="font-size: 40px; line-height: 45px;" class="profiler__logo--item">PROFILER</div>

        </div>

        <div class="navigation hide__print">
          <nav>
            <div class="menu-add">
              <div class="left">
              </div>
              <div class="right">
                <ul>
                  <li><a href="#" id="contact" data-toggle="modal" data-target=".contact">kontakt</a></li>
                </ul>
              </div>
            </div>
          </nav>
          <nav >
            <div class="menu-main">

              <ul>
                <li><a href="/about">kim jesteśmy</a></li>
                <li><a href="/co-robimy">co robimy</a></li>
                <li><a href="/jak-dzialamy">jak działamy</a></li>
                <li><a href="/wartosci-misja">wartości i misja</a></li>
                <li><a href="/obszar-dzialania">obszar działania</a></li>
                <li ng-if="currentUser.role" class="lastLink"><a href="/profiler/">profiler</a></li>
                <li ng-if="!currentUser.role" class="lastLink"><a href="/profiler/login">profiler</a></li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
      <div class="clearBorder"></div>
      <div class="clearfix"></div>
    </div>

    <!-- Modal for contact start-->
    <div class="modal fade contact" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">

        <div class="modal-content">
          <div class="modal-header">
            <h1>Formularz kontaktowy</h1>
          </div>
          <div class="modal-body">
            <ul class="nav nav-tabs" id="contact-form">
            <li class="active"><a href="#kandydat" data-toggle="tab">Kandydat</a></li>
            <li><a href="#klient" data-toggle="tab">Klient</a></li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div class="tab-pane active" id="kandydat">
              <form name="contactform" method="post" action="send_form_email.php" enctype="multipart/form-data">

            <div class="form-group">
              <input class="form-control"  type="name" name="first_name" maxlength="50" size="30" placeholder="Imię i nazwisko" required="true" >
            </div>
            <div class="form-group">
              <input class="form-control"  type="email" name="email" maxlength="80" size="30" placeholder="Adres e-mail" required="true">
            </div>
            <div class="form-group">             
              <input class="form-control"  type="numer" name="telephone" placeholder="Numer telefonu" maxlength="30" size="30">
            </div>
            <div class="form-group"> 
              <textarea class="form-control" name="comments" maxlength="1000" cols="25" rows="6" placeholder="Zadaj pytanie" required="true"></textarea>            
            </div>
            <div class="form-group">
              <div class="file-upload" for="exampleInputFile">
                  <input type="file" id="uploaded_file" name="uploaded_file">
              </div>
            </div>
            <div class="form-group">
              <input class="btn btn-default" type="submit" value="Wyślij">
            </div>

            </form>
            </div>
            <div class="tab-pane" id="klient">
              <form role="form">
              <div class="form-group">
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="adres e-mail" required="true">
              </div>
              <div class="form-group">
                <input type="name" class="form-control" id="exampleInputPassword1" placeholder="Imię i nazwisko" required="true">
              </div>
              <div class="form-group">
                <textarea class="form-control" rows="3" placeholder="Zadaj pytanie"></textarea>
              </div>
              <div class="form-group">
                <label for="exampleInputFile">Zapytanie ofertowe</label>
                <div class="file-upload" for="exampleInputFile">
                  <input type="file" id="exampleInputFile">
              </div>
              </div>
              <button type="submit" class="btn btn-default">Wyślij</button>
            </form>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div> <!--Modal for contact end -->
    <!-- Modal for konto CR -->
    <div class="modal fade konto-cr" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">

        <div class="modal-content">
          <div class="modal-header">
            <h1>Zaloguj się do konta CR</h1>
          </div>
          <div class="modal-body">
            <form role="form">
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-default">Zaloguj się</button>
          </form>
          </div>
        </div>
      </div>
    </div> <!--Modal for konto CR end -->

    <admin-dctv></admin-dctv>
    
    <div id="main-content" class="main-content wrapper">

      <div class="content-main">

          <div ng-view=""></div>

      </div>

    </div>
    <footer>
      <div id="footer" class="hide__print">
        <div class="wrapper">
          <div class="polityka">
            <a href="">Polityka prywatności</a>
          </div>
          <div class="copy">
            <p>Creative Recruitment<br> 2014</p>
          </div>
          <div class="social">
            <a class="facebook" href=""></a>
            <a class="linked" href=""></a>
            <a class="twitter" href=""></a>
          </div>
        </div>
      </div>
    </footer>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-XXXXX-X');
      ga('send', 'pageview');
    </script>

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->
    <!-- build:js({client,node_modules}) app/vendor.js -->
      <!-- bower:js -->
      <script src="bower_components/jquery/dist/jquery.js"></script>
      <script src="bower_components/angular/angular.js"></script>
      <script src="bower_components/json3/lib/json3.js"></script>
      <script src="bower_components/angular-resource/angular-resource.js"></script>
      <script src="bower_components/angular-cookies/angular-cookies.js"></script>
      <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
      <script src="bower_components/angular-route/angular-route.js"></script>
      <script src="bower_components/lodash/dist/lodash.compat.js"></script>
      <!-- endbower -->
    <!-- endbuild -->

        <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

        <script src="libs-modify/ui-bootstrap.js"></script>
        <script src="libs-modify/float.js"></script>

        <!-- build:js({.tmp,client}) app/app.js -->
        <script src="app/app.js"></script>
          <!-- injector:js -->
          <script src="app/account/account.js"></script>
          <script src="app/account/login/login.controller.js"></script>
          <script src="app/account/settings/settings.controller.js"></script>
          <script src="app/account/signup/signup.controller.js"></script>
          <script src="app/admin/admin.controller.js"></script>
          <script src="app/admin/admin.js"></script>
          <script src="app/main/main.controller.js"></script>
          <script src="app/main/main.js"></script>
          <script src="app/profiler/profiler.controller.js"></script>
          <script src="app/profiler/profiler.directive.js"></script>
          <script src="app/profiler/profiler.js"></script>
          <script src="app/profiler/profiler.print.js"></script>
          <script src="components/auth/auth.service.js"></script>
          <script src="components/auth/user.service.js"></script>
          <script src="components/modals/modalCreative.js"></script>
          <script src="components/mongoose-error/mongoose-error.directive.js"></script>
          <script src="components/services/profilerCompanySrv.js"></script>
          <script src="components/services/sendMailSrv.js"></script>
          <script src="components/services/userListSrv.js"></script>
          <!-- endinjector -->
        <!-- endbuild -->
</body>
</html>
