@-webkit-keyframes diagram-icon {
 	0%{opacity:0;-webkit-transform:scale(0.3);transform:scale(0.3)}
	50%{opacity:1;-webkit-transform:scale(1.05);transform:scale(1.05)}
	70%{-webkit-transform:scale(0.9);transform:scale(0.9)}
	100%{-webkit-transform:scale(1);transform:scale(1)}
}
@-moz-keyframes diagram-icon {
  	0%{opacity:0;-webkit-transform:scale(0.3);transform:scale(0.3)}
	50%{opacity:1;-webkit-transform:scale(1.05);transform:scale(1.05)}
	70%{-webkit-transform:scale(0.9);transform:scale(0.9)}
	100%{-webkit-transform:scale(1);transform:scale(1)}
}
@-o-keyframes diagram-icon {
 	 0%{opacity:0;-webkit-transform:scale(0.3);transform:scale(0.3)}
	50%{opacity:1;-webkit-transform:scale(1.05);transform:scale(1.05)}
	70%{-webkit-transform:scale(0.9);transform:scale(0.9)}
	100%{-webkit-transform:scale(1);transform:scale(1)}
}
@keyframes diagram-icon {
 	0%{opacity:0;-webkit-transform:scale(0.3);transform:scale(0.3)}
	50%{opacity:1;-webkit-transform:scale(1.05);transform:scale(1.05)}
	70%{-webkit-transform:scale(0.9);transform:scale(0.9)}
	100%{-webkit-transform:scale(1);transform:scale(1)}
}


