$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';

@import 'scss/normalize.scss';

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'main/main.scss';


@font-face {
  font-family: "Cantarell-Regular-webfont";
  src: url("../assets/archivoblack-regular-webfont.eot");
  src: local(""),
    url("../assets/_fonts/Cantarell-Regular-webfont.woff") format("woff"),
    url("../assets/_fonts/Cantarell-Regular-webfont.otf") format("opentype"),
    url("../assets/_fonts/Cantarell-Regular-webfont.svg#filename") format("svg");
}

html{
	height: 100%;
}

body{

	min-width: 100%;
	background: #fff;
	border-top: 20px solid #000;

}

.content-wrapper {

}

.wrapper {
	margin-left: auto;
	margin-right: auto;
	width: 1170px;
}

.clearBorder{
	clear: both;
	border-bottom: 5px solid #000;

}


@import "scss/scss";
