
@import "mixins/mixins";

@import "components/components";

@import "animation.scss";
@import "modules/header.scss";
@import "modules/main_content.scss";
@import "modules/how_work_content.scss";
@import "modules/modal.scss";
@import "modules/footer.scss"; 
@import "modules/profiler.scss"; 

.mt {

	margin-top: 45px;

} 

.form-control {
	
	select {

		&:hover, &:focus, &:active {

			outline: none;

		} 

	}

}

ul{
	list-style: none;
	padding:0;
	margin: 0;

	li {

		text-decoration: none;

	}
}

a{
	text-decoration: none;

	&:hover {

		text-decoration: none;

	}
}
