.wartosci-content {
	
	.content-wartosci{

		width: 600px;
		margin: 50px auto;
		font-family: "Cantarell-Regular-webfont";
		font-size: 13px;
		line-height: 22px;
		text-align: justify;

		ul{
			margin-top: 20px;
			margin-bottom: 20px;
			padding-left: 20px;
			li{
				list-style: square;
			}
		}
	}

}