<div class="profiler-wrapper">
	<div class="profiler-text-big">LOGOWANIE</div>

	<div class="row">
		<div class="col-xs-4 col-xs-offset-4">
			<div class="profiler-login-wrapper">
        <form class="form" name="form" ng-submit="login(form)" novalidate>

          <div class="form-group input-cr">
            <label>Email</label>

            <input type="email" name="email" class="form-control" ng-model="user.email" required>
          </div>

          <div class="form-group input-cr">
            <label>Password</label>

            <input type="password" name="password" class="form-control" ng-model="user.password" required>
          </div>

          <div class="form-group has-error">
            <p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && submitted">
              Please enter your email and password.
            </p>
            <p class="help-block" ng-show="form.email.$error.email && submitted">
              Please enter a valid email.
            </p>

            <p class="help-block">{{ errors.other }}</p>
          </div>

          <div>
            <button class="button-cr" typ="submit">
              <span class="hover-bg">
                <span class="hover-text">
                  Zaloguj się
                </span>
              </span>
              Zaloguj się
            </button>
          </div>

        </form>
			</div>

		</div>
	</div>

	<hr>

	<div class="row">

		<div class="profiler-manual" style="font-size: 16px;">

			<div style="text-align: justify;">

				Profiler został opracowany na podstawie jednej z bardziej popularnych teorii osobowości, 

				tzw. Teorii Wielkiej Piątki (Big Five), której autorzy twierdzą, że osobowość człowieka 

				można opisać pod względem 5 cech osobowości. 

				Profiler jest kwestionariuszem przeznaczonym do analizy profilu osobowości pod względem 

				8 cech: asertywności, przywództwa, empatii, sumienności, ekstrawersji, pozytywnego 

				myślenia, otwartości na doświadczenie, stabilności emocjonalnej (emocjonalności).

				Do tej pory kwestionariusz wypełniło ponad 1000 osób pracujących w działach marketingu i 

				sprzedaży różnych firm, głównie z branż usługowych.

			</div>

			 <br><br>

			Najważniejsze korzyści ze stosowania Profilera są następujące: 
			<br><br>
			<ul style="padding-left: 30px; list-style: disc;">
			<li>w interpretacji wyników zwraca się przede wszystkim na potencjał osobowościowy</li>

			<li>może zawierać wskazówki jakie aktywności są najbardziej pożądane dla danego typu 

			osobowości oraz jakich aktywności powinna unikać</li>

			<li>nie jest kwestionariuszem oceniającym, a jedynie wskazującym jest najbardziej „naturalny” 

			styl osobowości danej osoby </li>

			<li>przygotowany specjalnie dla osób aktywnych zawodowo</li>

			<li>zweryfikowany na osobach pracujących w różnych branżach</li>

			<li>jest bardzo dobrym narzędziem uzupełniającym analizę potencjału osobowości 

			pracowników</li>

			<li>wyniki można wykorzystać do budowania optymalnego zespołu pracowników pod 

			względem cech osobowości</li>
			<ul>

		</div>

	</div>
</div>
