
<div class="profiler-user-wrapper">

	<div class="container">

		<div class="row">

			<div class="col-xs-5">

				<div class="single-user-header">
					Informacje podstawowe
				</div>

				<div class="row">
					<div class="user-custom-information">
						<div class="col-xs-3">
							<div class="custom-name">
								Imię
							</div>
						</div>
						<div class="col-xs-9">
							{{user.firstName}}
						</div>
					</div>
				</div>
				<div class="row">
					<div class="user-custom-information">
						<div class="col-xs-3">
							<div class="custom-name">
								Nazwisko
							</div>
						</div>
						<div class="col-xs-9">
							{{user.surnameName}}
						</div>
					</div>
				</div>
				<div class="row">
					<div class="user-custom-information">
						<div class="col-xs-3">
							<div class="custom-name">
								Płeć
							</div>
						</div>
						<div class="col-xs-9">
							{{user.gender}}
						</div>
					</div>
				</div>
				<div class="row">
					<div class="user-custom-information">
						<div class="col-xs-3">
							<div class="custom-name">
								Stan cywilny
							</div>
						</div>
						<div class="col-xs-9">
							{{user.status}}
						</div>
					</div>
				</div>
				<div class="row">
					<div class="user-custom-information">
						<div class="col-xs-3">
							<div class="custom-name">
								Stanowisko
							</div>
						</div>
						<div class="col-xs-9">
							{{user.job}}
						</div>
					</div>
				</div>
				<div class="row">
					<div class="user-custom-information">
						<div class="col-xs-3">
							<div class="custom-name">
								Branża
							</div>
						</div>
						<div class="col-xs-9">
							{{user.jobArea}}
						</div>
					</div>
				</div>
				<div class="row">
					<div class="user-custom-information">
						<div class="col-xs-3">
							<div class="custom-name">
								Staż pracy obecnie
							</div>
						</div>
						<div class="col-xs-9">
							{{user.actualWrokYear}}
						</div>
					</div>
				</div>
				<div class="row">
					<div class="user-custom-information">
						<div class="col-xs-3">
							<div class="custom-name">
								Staż pracy całkowicie
							</div>
						</div>
						<div class="col-xs-9">
							{{user.wrokYear}}
						</div>
					</div>
				</div>
				<div class="row">
					<div class="user-custom-information">
						<div class="col-xs-3">
							<div class="custom-name">
								Wyniki sprzedażowe
							</div>
						</div>
						<div class="col-xs-9">
							{{user.achieve}}
						</div>
					</div>
				</div>

			</div>
			<div class="col-xs-3">

				<div class="single-user-header text-center">
					Odpowiedzi
				</div>

				<div class="row">
					<ul class="answers-list text-center">
						<li ng-repeat="question in questions">

							<span>{{question.id}}</span> <span><b>{{question.answer}}</b></span>

						</li>
					</ul>
				</div>
			</div>
			<div class="col-xs-4">

				<div class="single-user-header text-right">
					Wyniki
				</div>

				<div class="result-wrap text-right">

					<div class="result-item">

						<span>ASERTYWNOŚĆ</span> <b>{{parts.asertywnosc}}</b>


					</div>
					<div class="result-item">

						<span>PRZYWÓDZTWO</span> <b>{{parts.przywodztwo}}</b>
						

					</div>
					<div class="result-item">

						<span>EMPATIA</span> <b>{{parts.empatia}}</b>
						

					</div>
					<div class="result-item">

						<span>SUMIENNOŚĆ</span> <b>{{parts.sumiennosc}}</b>
						

					</div>

					<div class="result-item">

						<span>EKSTRAWERSJA</span> <b>{{parts.ekstrawersja}}</b>
						

					</div>

					<div class="result-item">

						<span>POZYTYWNE MYŚLENIE</span> <b>{{parts.pozytywne}}</b>
						

					</div>

					<div class="result-item">

						<span>OTWARTOŚĆ</span> <b>{{parts.otwartosc}}</b>
						

					</div>

					<div class="result-item">

						<span>NIESTABILNOŚĆ</span> <b>{{parts.niestabilnosc}}</b>
						

					</div>
				</div>

			</div>
		</div>

		<hr>
		
		<div class="data-present">

			<div id="graph-wrapper">
			    <div class="graph-info">
			        <a href="javascript:void(0)" class="visitors">Visitors</a>
			        <a href="javascript:void(0)" class="returning">Returning Visitors</a>
			 
			        <a href="#" id="bars"><span></span></a>
			        <a href="#" id="lines" class="active"><span></span></a>
			    </div>
			 
			    <div class="graph-container">
			        <div id="graph-lines"></div>
			        <div id="graph-bars"></div>
			    </div>
			</div>

		</div>

		<br>

		<div class="row">

			<div class="col-xs-12">
				<div class="single-user-header">
					Interpretacja
				</div>
				<div class="interpreter-wrapper">

					<form name="form" novalidate>

						<div class="form-group input-cr">
							<label>ASERTYWNOŚĆ</label>
							<textarea class="form-control" ng-model="interpretation.stage0" rows="4"></textarea>
						</div>
						<div class="form-group input-cr">
							<label>PRZYWÓDZTWO</label>
							<textarea class="form-control" ng-model="interpretation.stage1" rows="4"></textarea>
						</div>
						<div class="form-group input-cr">
							<label>EMPATIA</label>
							<textarea class="form-control" ng-model="interpretation.stage2" rows="4"></textarea>
						</div>
						<div class="form-group input-cr">
							<label>SUMIENNOŚĆ</label>
							<textarea class="form-control" ng-model="interpretation.stage3" rows="4"></textarea>
						</div>
						<div class="form-group input-cr">
							<label>EKSTRAWERSJA</label>
							<textarea class="form-control" ng-model="interpretation.stage4" rows="4"></textarea>
						</div>
						<div class="form-group input-cr">
							<label>POZYTYWNE MYŚLENIE</label>
							<textarea class="form-control" ng-model="interpretation.stage5" rows="4"></textarea>
						</div>
						<div class="form-group input-cr">
							<label>OTWARTOŚĆ</label>
							<textarea class="form-control" ng-model="interpretation.stage6" rows="4"></textarea>
						</div>
						<div class="form-group input-cr">
							<label>NIESTABILNOŚĆ</label>
							<textarea class="form-control" ng-model="interpretation.stage7" rows="4"></textarea>
						</div>

					</form>

				</div>
				<button class="button-cr" ng-click="sendInterpretations()">
					<span class="hover-bg">
						<span class="hover-text">
							Prześlij Interpretację
						</span>
					</span>
					Prześlij Interpretację
				</button>
			</div>

		</div>

		<hr>

		<div class="row">

			<div class="col-xs-12">

				<div class="single-user-header">
					Wnioski
				</div>

			</div>

			<div class="col-xs-4">

				<div class="header-conclusion">
					Mocne strony
				</div>

				<div class="form-group input-cr">
					<input ng-model="currentStrong" type="text" class="form-control">
				</div>

				<div class="conclusion">

					<ul>
						<li ng-repeat="item in strongSite">{{item}}</li>
					</ul>

				</div>

				<button class="button-cr" ng-click="addStrongSite()">
					<span class="hover-bg">
						<span class="hover-text">
							Dodaj
						</span>
					</span>
					Dodaj
				</button>

			</div>
			<div class="col-xs-4">

				<div class="header-conclusion">
					Słabe strony
				</div>

				<div class="form-group input-cr">
					<input ng-model="currentWrong" type="text" class="form-control">
				</div>

				<div class="conclusion">

					<ul>
						<li ng-repeat="item in wrongSite">{{item}}</li>
					</ul>

				</div>

				<button class="button-cr" ng-click="addWrongSite()">
					<span class="hover-bg">
						<span class="hover-text">
							Dodaj
						</span>
					</span>
					Dodaj
				</button>

			</div>
			<div class="col-xs-4">

				<div class="header-conclusion">
					Rekomendacje
				</div>

				<div class="form-group input-cr">
					<input ng-model="currentRecomend" type="text" class="form-control">
				</div>

				<div class="conclusion">

					<ul>
						<li ng-repeat="item in recomend">{{item}}</li>
					</ul>

				</div>

				<button class="button-cr" ng-click="addRecomend()">
					<span class="hover-bg">
						<span class="hover-text">
							Dodaj
						</span>
					</span>
					Dodaj
				</button>

			</div>

		</div>

		<br><br>

	</div>

</div>