<div class="profiler-wrapper" ng-if="currentUser.role === 'user'">
	<div class="profiler-text-big">INSTRUKCJA</div>
	<div class="profiler-manual">

		
		Uważnie przeczytaj tę instrukcję, zanim zaczniesz pisać. Kwestionariusz ten składa się z 54 

		stwierdzeń i pytań dodatkowych. Przeczytaj każde z nich uważnie. Przy każdym zakreśl odpowiedź, która 

		najlepiej wyraża Twoją opinię. Upewnij się, czy swoją odpowiedź wpisujesz przy odpowiednim stwierdzeniu.

		Proszę zakreślić:

		„1”. gdy się ZDECYDOWANIE NIE ZGADZASZ lub gdy to stwierdzenie jest całkowicie

		nietrafne,

		„2” gdy się NIE ZGADZASZ lub gdy to stwierdzenie jest raczej nietrafne,

		„3” gdy NIE MASZ ZDANIA lub nie możesz się zdecydować, lub też to stwierdzenie jest równie 

		trafne jak nietrafne,

		„4” gdy się ZGADZASZ lub gdy to stwierdzenie jest raczej trafne,

		„5” gdy się ZDECYDOWANIE ZGADZASZ lub gdy to stwierdzenie jest całkowicie trafne.

		Zakreśl tylko jedną odpowiedź przy każdym stwierdzeniu. 

		Ustosunkuj się do wszystkich stwierdzeń.

		Jeśli się pomylisz, wyraźnie przekreśl pierwszą odpowiedź i zaznacz właściwą.

	</div>
	<div class="text-center">
		<button ng-if="currentUser.role === 'user'" class="button-cr" ng-click="startProfiler()">
			<span class="hover-bg">
				<span class="hover-text">
					Rozpocznij test
				</span>
			</span>
			Rozpocznij test
		</button>
	</div>
</div>

<div class="profiler-wrapper" ng-if="currentUser.role === 'client'">
	<br>
	<div class="profiler-list-header">

					<div class="row">

						<div class="col-xs-3">
							Imię i Nazwisko
						</div>

						<div class="col-xs-5">
							Branża
						</div>

						<div class="col-xs-2">
							Staż pracy
						</div>

						<div class="col-xs-2">
							Status
						</div>

					</div>

				</div>
	<ul class="list-items">
		<a ng-if="item.user[0].isInterpreted" href="/profiler/client/user/{{item._id}}" class="list-item" ng-repeat="item in clientUsers">
			<div class="row">
				<li>
					<div class="col-xs-3 name">
						{{item.user[0].name}}
					</div>

					<div class="col-xs-5">
						{{item.user[0].jobArea}}
					</div>
					<div class="col-xs-2">
						{{item.user[0].actualWrokYear}}/{{item.user[0].wrokYear}}
					</div>
					<div class="col-xs-2">
						{{statusReturner(item.user[0].isInterpreted)}}
					</div>
				</li>
			</div>
		</a>
		<div ng-if="!item.user[0].isInterpreted" ng-repeat="item in clientUsers" class="row">
				<li>
					<div class="col-xs-3 name">
						{{item.user[0].name}}
					</div>

					<div class="col-xs-5">
						{{item.user[0].jobArea}}
					</div>
					<div class="col-xs-2">
						{{item.user[0].actualWrokYear}}/{{item.user[0].wrokYear}}
					</div>
					<div class="col-xs-2">
						{{statusReturner(item.user[0].isInterpreted)}}
					</div>
				</li>
			</div>
	</ul>
</div>