@import  "social/*.png";
@include all-social-sprites;

#footer{
	width: 100%;
	height: 40px;
	background: #000;
	position: fixed;
	bottom: 0;
	font-family: "Cantarell-Regular-webfont";

	.polityka {
		display: inline-block;
		position: relative;
		left: 0;
		top: -9px;

		a{
			color: #fff;
			font-size: 12px;
			text-decoration: none;
		}
	}

	.copy {
		text-align: center;
		position: relative;
		margin-top: 10px;
		left: 365px;
		display: inline-block;

		p{	
			
			color: white;
			font-size: 12px;
			text-transform: uppercase;
		}
	}

	.social{
		position: relative;
		right: 5px;
		float: right;
		top: 3px;
		width: 120px;
		height: 40px;
		text-align: center;
		

		a{

			display: inline-block;
			width: 33px;
			height: 33px;
			position: absolute;
			border: 2px solid #fff;
			border-radius: 50%;
			padding-top: 5px;
			color: #fff;
			text-decoration: none;

			&:hover {
				transition: background 0.5s;
				color: #000;
				background: #fff;
				font-weight: bold;
			}

			&.facebook {
				right: 80px;
			}		
			&.linked {
				right: 40px;
			}		
			&.twitter {
				right: 0px;
			}			

		}
	}
}
