.how-work-content{

	font-family: "Cantarell-Regular-webfont";

	#content-wrapper {
		padding-bottom: 440px;
	}

	.content-how-work{

		.left {
			width: 39%;
			text-align: justify;
			color: #000;
			margin: 0 auto;
			margin-top: 50px;
			margin-bottom: 20px;

			p{
				font-family: "Cantarell-Regular-webfont";
				font-size: 13px;
				line-height: 20px;
			}

			.last{
				font-weight: bold;
			}
		}

	}

	.animation {
		width: 1000px;
		margin: 30px auto;
		position: relative;
		

		.diagram-icon{
			position: absolute;
			border-radius: 50px;
			border: solid 4px #000;
			background-color: #fff;
			width: 53px;
			height: 53px;
			text-align: center;
			line-height: 55px;
			cursor: pointer;

			&:hover {
				background: #000;
				transition: background 0.5s;

			}

			&.diagram-icon-sm{
				width: 25px;
				height: 25px;
				border: 2px solid #000;
				top: 85px;

				&.a{
					left: 165px;
				}
				&.b{
					left: 295px;
				}
				&.c{
					left: 765px;
				}
				&.d{
					left: 890px;
				}

			}

			p{
				padding: 0 7px;
				line-height: 18px;
				font-size: 11px;
				text-align: left;
				margin-bottom: 10px;
				font-family: "Cantarell-Regular-webfont";
			}

			h2{
				font-family: "Cantarell-Regular-webfont";
				font-size: 12px;
				margin-left: 3px;
				line-height: 15px;
				margin-top: 4px;
				font-weight: bold;
			}

			&.diagram-first {
				top: 40px;
				left: 50px;

				-webkit-animation: diagram-icon 1s 2s;
				-moz-animation: diagram-icon  1s 2s ; 
				-o-animation: diagram-icon  1s 2s; 
				animation: diagram-icon  1s 2s; 

				&.info{
					transition:background 0.5s;
					background: #000;
				}

				.diagram-first-info{
					position: absolute;
					top: 80px;
					width: 230px;
					left: -153px;
					color: #000;
					border: 1px dashed #000;
				}
			}
			&.diagram-second {
				top: 40px;
				left: 250px;

				-webkit-animation: diagram-icon 1s 2.5s forwards;
				-moz-animation: diagram-icon  1s 2.5s ; 
				-o-animation: diagram-icon  1s 2.5s; 
				animation: diagram-icon  1s 2.5s;

				&.info{
					transition:background 0.5s;
					background: #000;
				}

				.diagram-second-info{
					position: absolute;
					top: 80px;
					width: 230px;
					left: -117px;
					color: #000;
					border: 1px dashed #000;
				} 
			}
			&.diagram-third {
				top: 40px;
				left: 472px;
				-webkit-animation: diagram-icon 1s 3s forwards;
				-moz-animation: diagram-icon  1s 3s ; 
				-o-animation: diagram-icon  1s 3s; 
				animation: diagram-icon  1s 3s;

				&.info{
					transition:background 0.5s;
					background: #000;
				} 

				.diagram-third-info{
					position: absolute;
					top: 80px;
					width: 230px;
					left: -104px;
					color: #000;
					border: 1px dashed #000;
				}
			}
			&.diagram-fourth {
				top: 40px;
				left: 694px;
				-webkit-animation: diagram-icon 1s 3.5s forwards;
				-moz-animation: diagram-icon  1s 3.5s ; 
				-o-animation: diagram-icon  1s 3.5s; 
				animation: diagram-icon  1s 3.5s; 

				&.info{
					transition:background 0.5s;
					background: #000;
				}

				.diagram-fourth-info{
					position: absolute;
					top: 80px;
					width: 230px;
					left: -92px;
					color: #000;
					border: 1px dashed #000;
				}
			}

			&.diagram-fifth {
				top: 40px;
				left: 910px;
				-webkit-animation: diagram-icon 1s 4s forwards;
				-moz-animation: diagram-icon  1s 4s ; 
				-o-animation: diagram-icon  1s 4s; 
				animation: diagram-icon  1s 4s; 

				&.info{
					transition:background 0.5s;
					background: #000;
				}

				.diagram-fifth-info{
					position: absolute;
					top: 80px;
					width: 230px;
					left: -73px;
					color: #000;
					border: 1px dashed #000;
				}
			}
		}
		.show-all{
			position: relative;
			bottom: 135px;
			left: 17px;
			text-align: center;

			a{
				background: #000;
				color: #fff;
				font-family: "Cantarell-Regular-webfont";
				font-size: 12px;
				text-transform: uppercase;
				text-decoration: none;
				padding: 4px;
			}
		}	
	}
}