.main-content{

	font-family: "Cantarell-Regular-webfont";
	font-size: 13px;
	line-height: 22px;
	
	.content-main {
		margin: 0 auto;
		margin-top: 100px;
		width: 470px;
		text-align: justify;

		p{
			text-align: justify;
		}

		.lastp {
			font-weight: bold;
		}
	}


}