.logout.logout-fixed{

  .admin-item {

    display: block;

    position: fixed;
    right:0;

    margin-bottom: 5px;
    marin-top: 5px;
    padding: 10px;

    @include transition-property(width);
    @include transition-duration(0.3s);

    width: 20px;

    &:hover {

      width: 120px;
      cursor: pointer;

    }

    &:first-child{
      top: 150px;
    }

    &:last-child{
      top: 200px;
    }

  }


}
